@use '../vars';
@use '../mixins';

.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: vars.$blue;
	width: 100%;
	height: 100px;
	transition: all vars.$transition;
	z-index: 7;

	&--hidden {
		height: 0;

		.header__wrapper {
			opacity: 0;
			height: 0;
			overflow: hidden;
		}

		.menu-gamburger {
			height: 0;
			overflow: hidden;
		}

		.header-toggle {
			&__wrapper {
				transform: rotate(-270deg);
			}

			svg {
				animation: trembling-up 0.5s alternate infinite;
			}
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 38px;
		opacity: 1;
		height: 100px;
		transition: all vars.$transition;

		@media (max-width: 648px) {
			padding-right: 15px;
			gap: 15px;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 26px;

		@media (max-width: 360px) {
			gap: 15px;
		}
	}
}

.header-toggle {
	position: absolute;
	bottom: -29px;
	right: 10px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: vars.$darkBlue;
	border-end-start-radius: 20%;
	border-end-end-radius: 20%;
	z-index: 3;

	&__wrapper {
		transform: rotate(-90deg);
		transition: all vars.$transition;
	}

	svg {
		display: block;
		width: 20px;
		height: 20px;
		animation: trembling-down 0.5s alternate infinite;
	}
}

@keyframes trembling-down {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(1px);
		opacity: 0.8;
	}
}

@keyframes trembling-up {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(-1px);
		opacity: 0.8;
	}
}
