@use '../vars';
@use '../mixins';

.sidebar-menu {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 88px;
	z-index: 3;

	@media (max-width: 970px) {
		display: none;
	}

	&__wrapper {
		display: flex;

		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&__nav {
		position: relative;
		top: 15px;
	}

	&__title {
		position: absolute;
		top: 10px;
		right: -26px;
	}

	.menu-gamburger {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
		width: inherit;
		height: inherit;
		background-color: transparent;

		@include mixins.hover {
			.menu-gamburger__line {
				&:nth-child(odd) {
					&::after {
						width: 28px;
					}
				}

				&:nth-child(even) {
					&::after {
						width: 23px;
					}
				}
			}
		}

		&__line {
			position: relative;
			display: block;
			width: 40px;
			height: 4px;
			background-color: #455c7d;

			&::after {
				content: '';
				transition: all 0.3s ease;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				height: 4px;
				background-color: vars.$light;
			}

			&:nth-child(odd) {
				&::after {
					width: 23px;
				}
			}

			&:nth-child(even) {
				&::after {
					width: 28px;
				}
			}
		}
	}
}

.sidebar-title {
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	color: vars.$light;
	transform: rotate(-90deg);
}

.sidebar-prompt {
	position: relative;
	margin-top: auto;

	&__line {
		height: 158px;
		width: 2px;
		background-color: #455c7d;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 2px;
			left: 0;
			height: 101px;
			background-color: vars.$light;
			animation: scroll 1s infinite linear;
		}
	}

	&__message {
		position: absolute;
		text-wrap: nowrap;
		top: 32px;
		right: -48px;
	}
}

@keyframes scroll {
	0% {
		top: 0;
	}
	50% {
		top: 28px;
	}
	100% {
		top: 57px;
	}
}
