@use '../vars';
@use '../mixins';

.left-aside {
	grid-column: 4 span;
	min-width: 210px;

	@media (max-width: 548px) {
		grid-column: 12 span;
	}
}

.left-menu {
	display: flex;
	flex-direction: column;

	&__item {
		border-bottom: 1px solid vars.$gray;
		background-color: vars.$grayLight;
		height: 49px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: all vars.$transition;

		&:first-child {
			border-top: 1px solid vars.$gray;
		}

		@include mixins.hover {
			background-color: vars.$blue;

			.left-menu__link {
				color: vars.$light;
			}
		}

		&--active {
			background-color: vars.$blue;

			.left-menu__link {
				color: vars.$light;
			}
		}
	}

	&__link {
		padding: 0 17px 0 21px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;

		@media (max-width: 656px) {
			font-size: 14px;
		}
	}
}
