@use '../vars';
@use '../mixins';

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(255deg, #1c2b3f 0%, #2d4262 100%);
	box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
	width: 0;
	opacity: 0;
	height: 100vh;
	z-index: -10;
	transition: all vars.$transition;
	overflow-x: hidden;

	&--open {
		opacity: 1;
		width: 510px;
		z-index: 10;

		@media (max-width: 510px) {
			width: 100%;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__left-side {
		cursor: pointer;
		background-color: vars.$darkBlue;
		width: 100px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 30px;
		flex-shrink: 0;

		&--center {
			justify-content: center;
		}

		@media (max-width: 510px) {
			width: 70px;

			svg {
				width: 30px;
				height: 30px;
			}
		}

		@include mixins.hover {
			svg {
				transform: rotate(90deg);
			}
		}
	}

	&__right-side {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: space-around;

		@media (max-width: 510px) {
			padding-right: 10px;
			align-items: end;
		}
	}
}

.close-mobile {
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		transition: all vars.$transition;
	}
}

.nav-mobile {
	display: flex;
	flex-direction: column;

	&__item {
		height: 80px;
		display: flex;
		align-items: center;
		width: 100%;
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		@media (max-width: 510px) {
			justify-content: end;
		}

		@include mixins.hover {
			background-color: rgba(29, 45, 66, 0.5);
		}
	}

	&__link {
		font-size: 24px;
		font-weight: 900;

		@media (max-width: 510px) {
			font-size: 18px;
			text-align: right;
		}
	}

	&__social-icons {
		display: flex;
		align-items: center;
		gap: 25px;
		padding-right: 45px;

		@media (max-width: 510px) {
			margin-left: auto;
			padding-right: 0;
		}

		@media (max-width: 368px) {
			gap: 12px;
		}
	}
}
