@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/avenirNextDemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}

$yellow: #ffcc01;
$blue: #1d2d42;
$darkBlue: #1c2939;
$dark: #000;
$grayLight: #f2f2f2;
$light: #fff;
$gray: #c4c4c4;

$transition: 0.5s ease;
